form {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.kontainer {
    width: 500px;
    background: #b99494;
    color: #FFF;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border: 1px solid #DDD;
    border-radius: 10px;
    box-shadow: 0 0 5px #FFF;
    color: aqua;
}